html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.profPic{
    max-width: 150px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.action-btn{
    margin-bottom: 7px;
}

.MovieForm{
    padding-right: 25px;
}

.nav-item {
    list-style-type:none;
}

.addNewActor{
    position: fixed;
    right: 25px;
    bottom: 25px;
}